@import url('./common.css');
        header {
            display: flex;
            background: linear-gradient(90deg, var(--primary), var(--secondary));
            box-shadow: 0px 3px 5px lightgrey;
            padding: 0 3em;
            margin-bottom: 2em;
        }

        body {
            background: #e2cbf9;
            text-align: center;
            font-family: 'Open Sans', sans-serif;
        }

        .intro {
            margin: 30px 0px;
            font-weight: bold;
        }

        h1 {
            color: #a8a4a4;
            font-weight: 800;
            font-size: 25px;
        }

        p {
            font-weight: 600;
        }

        #first {
            margin-top: 10px;
            color: #570a67;
        }

        #second {
            color: #323433;

        }

        #third {
            color: #2e2f30;
            margin-bottom: 30px;
        }


        .dados{
            margin: 0 auto;
            width: 70%;
        }


        #enter {
            border: none;
            padding: 5px 15px;
            border-radius: 5px;
            color: #04A1BF;
            background-color: #ecddf8;
            transition: all 0.75s ease;
            -webkit-transition: all 0.75s ease;
            -moz-transition: all 0.75s ease;
            -ms-transition: all 0.75s ease;
            -o-transition: all 0.75 ease;
            font-weight: normal;
            display: inline-block;
        }

        #enter:hover{
            background-color: #02798F;
            color: #FFCD5D;
        }

            #enter img{
                width: 25px;
                height: 28px;
            }

        ul {
            text-align: left;
            margin-top: 20px;
        }


        li {
            list-style: none;
            padding: 10px 20px;
            color: #ffffff;
            text-transform: capitalize;
            font-weight: 600;
            border: 2px solid #025f70;
            border-radius: 5px;
            margin-bottom: 10px;
            background: #7b42ad;
            transition: all 0.75s ease;
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            -ms-transition: all 0.5s ease;
            -o-transition: all 0.5 ease;
        }

        li:hover {
            background: #76CFE0;
        }

        li > button {
            font-weight: normal;
            background: none;
            border: none;
            float: right !important;
            color: #025f70;
            font-weight: 800;
        }

        input {
            border-radius: 5px;
            min-width: 90%;
            padding: 5px;
            height: 35px;
            border: none;
            margin: 0px;
            float: left;
        }


        .done {
            background: #51DF70 !important;
            color: #00891E;
        }

        .delete {
            display: none;
        }

        .titulo-terminadas {
          position: relative;
          width: 8em;
          text-align: center;
          padding: .5em 1em;
          background-color: rgb(84, 8, 120);
          border-radius: .2em;
          box-shadow: 3px 3px 5px lightgrey;
          color: rgb(250, 244, 244);
          font-weight: 400;
          font-size: 1.1em;
          margin-left: calc(15% - 4em);
          z-index: 20;
        }

        .tarefas-terminadas {
          display: flex;
          flex-direction: column;
          width: 70%;
          list-style: none;
          margin: 2em 15%;
        }

        .tarefas-terminadas i{
          color: grey;
          background-color: rgb(228, 228, 228);
        }
        .tarefas-terminadas button{
          margin-left: 10px;
        }

        .tarefas-terminadas .tarefa .descricao {
          background-color: rgb(228, 228, 228);
        }

        .tarefas-terminadas .tarefa .descricao .nome {
          color: grey;
          text-decoration: line-through;
        }